{% extends 'base.html' %}

{% block content %}
<h1>home</h1>
{{ request.user.id|json_script:"user" }}
<div id="online-status">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="status" checked>
      <label class="form-check-label" for="flexSwitchCheckChecked" id="statusLabel">Online</label>
    </div>
</div>
    <button onclick="joinChat()">Join Chat</button>
{#<a href="{% url 'chat' room_name='hihi' %}">Join chat</a>#}
{% endblock %}
{% block script %}
<script>
$(document).ready(function() {
  var user = {{ user.pk }};

  $('#flexSwitchCheckChecked').change(function() {
    console.log("checked");
    var isChecked = $(this).prop('checked');

    $.ajax({
      url: '/update-status/',
      method: 'GET',
      data: {
        status: isChecked ? 'on' : 'off',
        user: user,
      },
      success: function(response) {
        $('#statusLabel').text(response);
        console.log(response);
      },
      error: function(xhr, status, error) {
        console.error(error);
      }
    });
  });
});
</script>
     <script>
        function joinChat() {
            fetch('/join/')
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Redirect to the chat room
                        window.location.href = '/chat/';
                    } else {
                        // Display the error message
                        alert(data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
{% endblock %}
